<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Source" value="M:\Music" />
    <add key="Destination" value="M:\Files\iTunes Music" />
    <add key="FFmpegPath" value="ffmpeg.exe" />
    <add key="UnsupportedFileExtensions" value="flac|ogg" />
    <add key="SupportedFileExtensions" value="mp3|mp4|aac|aiff|m4a|wav|wma" />
  </appSettings>
</configuration>